*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --rellenoslaterales: 0px 110px 0px 110px;
}

.toolbar-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: var(--rellenoslaterales);
}

.toolbar-top .title-top{
    color: black;
    font-size: 30px;
}

.toolbar-top a{
    text-decoration: none;
    color: #7f7f90;
}

.toolbar-top .item-lista:hover{
    color: black;
    transition: all .3s;
}

.toolbar-top .item-lista{
    position: relative;
    padding-bottom: 5px;
}

.toolbar-top .item-lista::before{
    content: "";
    position: absolute;
    /*left: 0;*/
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ce1212;
    transition: width 0.25s ease-out;
}

.toolbar-top .item-lista:hover::before{
    width: 100%;
    left: 0;
    right: auto;
}



.toolbar-top .list-header{
    display: flex;
    gap: 25px;
    font-size: 18px;
    
}

.toolbar-top .list-header .first-element{
    color: black;
    border-bottom: solid 2px #ce1212;
    padding-bottom: 3px;
}

.toolbar-top .buttom-header{
    padding: 10px 15px 10px 15px;
    background-color: #ce1212;
    border-radius: 20px;
    color: white;
}

.toolbar-top .buttom-header:hover{
    padding: 10px 15px 10px 15px;
    background-color: #d84141;
    border-radius: 20px;
    color: white;
}


