*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.madre {
    width: 100%;
    height: 90vh;
    background-color: #eeeeee;
    display: flex;
    padding: 0px 0px 0px 40px;
    justify-content: space-between;
    align-items: center;
    

}

.why{
    display: flex;
    background-color:#ce1212 ;
    padding: 0px 40px 0px 30px;
    margin-bottom: 45px;
    font-size: 34px;
    color: white;
    flex-direction: column;
    width: 35%;
    height: 65%;
    
    
    
    
    
}

.texto1{
    display: flex;
    font-size: 15px;
}

.corp{
    display: flex;
    background-color:#ffffff ;
    padding: 20px 40px 0px 30px;
    margin-bottom: 45px;
    font-size: 34px;
    color: black;
    flex-direction: column;
    width: 30%;
    height: 50%;
}